{% extends "pc/base/base_home.html" %}

{% block title_all %}车咖{% endblock %}
{% block home_css %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/fullpage/jquery.fullPage.css" />
<!-- <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/site/index.css?v={{MEDIA_VERSION}}" /> -->
<style type="text/css">
body{
    transition: all 1.2s ease-in-out;
    background-color: #F27F5A;
}

#fullPage-nav li{
    margin: 15px;
}

#fullPage-nav li a, .fullPage-slidesNav li a{
    color: #ffffff;
}

#fullPage-nav li .active span, .fullPage-slidesNav .active span{
    background-color: #ffffff;
}

#fullPage-nav span, .fullPage-slidesNav span{
    border: 1px solid #ffffff;
    width: 13px;
    height: 13px;
}

.sprite-car{
    -webkit-transform: translateX(0%);
       -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-animation: car-move 20s linear infinite;
       -moz-animation: car-move 20s linear infinite;
        -ms-animation: car-move 20s linear infinite;
            animation: car-move 20s linear infinite;
}

@-webkit-keyframes car-move{
    0%{
        -webkit-transform: translateX(-100%);
        opacity: 0;
    }
    10%{
        -webkit-transform: translateX(-50%);
        opacity: 1;
    }
    90%{
        -webkit-transform: translateX(400%);
        opacity: 1;
    }
    100%{
        -webkit-transform: translateX(450%);
        opacity: 0;
    }
}
@keyframes car-move{
    0%{
        -webkit-transform: translateX(-100%);
           -moz-transform: translateX(-100%);
            -ms-transform: translateX(-100%);
                transform: translateX(-100%);
        opacity: 0;
    }
    10%{
        -webkit-transform: translateX(-50%);
           -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
        opacity: 1;
    }
    90%{
        -webkit-transform: translateX(400%);
           -moz-transform: translateX(400%);
            -ms-transform: translateX(400%);
                transform: translateX(400%);
        opacity: 1;
    }
    100%{
        -webkit-transform: translateX(450%);
           -moz-transform: translateX(450%);
            -ms-transform: translateX(450%);
                transform: translateX(450%);
        opacity: 0;
    }
}

.fade-text{
    overflow: hidden;
    vertical-align: top;
    height: 40px;
    font-weight: bold;
    display: inline-block;
}

.blue-circle{
    background-color: #406EBB;
    border-radius: 50%;
    width: 65px;
    height: 65px;
}

.blue-line1{
    background-color: #406EBB; 
    height: 12px; 
    width: 100px;
    top: 59%;
    left: 52%;
    -webkit-transform: rotateZ(15deg);
       -moz-transform: rotateZ(15deg);
        -ms-transform: rotateZ(15deg);
            transform: rotateZ(15deg);
}

.blue-line2{
    background-color: #406EBB; 
    height: 12px; 
    width: 100px;
    top: 40%;
    left: 48%;
    -webkit-transform: rotateZ(291deg);
       -moz-transform: rotateZ(291deg);
        -ms-transform: rotateZ(291deg);
            transform: rotateZ(291deg);
}

.blue-line3{
    background-color: #406EBB; 
    height: 12px; 
    width: 100px;
    top: 40%;
    left: 39%;
    -webkit-transform: rotateZ(219deg);
       -moz-transform: rotateZ(219deg);
        -ms-transform: rotateZ(219deg);
            transform: rotateZ(219deg);
}

.blue-line4{
    background-color: #406EBB; 
    height: 12px; 
    width: 100px;
    top: 70%;
    left: 39%;
    -webkit-transform: rotateZ(141deg);
       -moz-transform: rotateZ(141deg);
        -ms-transform: rotateZ(141deg);
            transform: rotateZ(141deg);
}

.blue-line5{
    background-color: #406EBB; 
    height: 12px; 
    width: 100px;
    top: 70%;
    left: 48.5%;
    -webkit-transform: rotateZ(75deg);
       -moz-transform: rotateZ(75deg);
        -ms-transform: rotateZ(75deg);
            transform: rotateZ(75deg);
}

</style>
{% endblock %}

{% block home_js %}
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery/jquery.fullPage.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery/jquery.easing.1.3.min.js"></script>

<script type="text/javascript">
$(document).ready(function(){

    var changeBgColor = function(index){
        switch(index){
            case 1:
                // $('body').css({'background': '-webkit-linear-gradient(left, #F27F5A, #ED5063'});
                $('body').css({'background': '#F0735D'});
                break;

            case 2:
                // $('body').css({'background': '-webkit-linear-gradient(left, #ED61D6, #BF51F5'});
                $('body').css({'background': '#50A0AE'});
                break;

            case 3:
                // $('body').css({'background': '-webkit-linear-gradient(left, #C0D253, #8DC262'});
                $('body').css({'background': '#C252F3'});
                break;

            case 4:
                // $('body').css({'background': '-webkit-linear-gradient(left, #28ABD8, #4A70CA'});
                $('body').css({'background': '#90C461'});
                break;

            case 5:
                // $('body').css({'background': '-webkit-linear-gradient(left, #28ABD8, #4A70CA'});
                $('body').css({'background': '#4675CC'});
                break;
        }
    };

    $('#fullpage').fullpage({
        scrollingSpeed: 700,
        easing: 'easeOutExpo',
        navigation: true,
        anchors: ['homepage', 'service', 'use', 'q&a', 'about'],
        onLeave: function(index, nextIndex, direction){
            $('.navbar-right>li').removeClass('active');
            $('.navbar-right>li').eq(nextIndex-1).addClass('active');

            changeBgColor(nextIndex);
        }
    });

    changeBgColor(1);



    // 移动的车
    // $.Global.Animation.SpriteAnimation('.sprite-car', {imgSrc: '{{MEDIA_URL}}img/sprite-plane.png', height: 89});



    // 文字效果切换
    // var WORDS = [
    //         ['inventors', 'use of the data', 'rebuilding the relationship', 'man to the vehicle'],
    //         ['engineers', 'use tech power', 'improve traffic flow', 'thousands of users'],
    //         ['supporters of the Open', 'share data', 'allow as many', 'create their own services'],
    //         ['pleased to meet you', 'you are, contact us', 'we can chat', 'rain and shine'],
    //         ['human beings', 'use transport', 'get to work', 'early'],
    //         ['geeks', 'devour books of sci -fi', 'imagine the future', 'mobility']
    //     ],
    //     getWordWidth = function(word){
    //         var temp = $('<span style="font-weight: bold; visibility: hidden;">'+word+'</span>').appendTo('.fade-move'),
    //             width = temp.width();

    //         temp.remove();
    //         return width;
    //     },
    //     fadeText = function(words){
    //         $.each(words, function(i){

    //             $('.fade-text').eq(i)
    //             .animate({
    //                 'opacity': 0,
    //                 'width': getWordWidth(words[i])
    //             }, 500, 'easeOutExpo', function(){
                    
    //                 $(this).text(words[i]);
    //                 $(this).animate({
    //                     'opacity': 1
    //                 }, 500, 'easeInExpo');

    //             });

    //         });
    //     },
    //     loopFadeText = function(){
    //         $.each(WORDS, function(i){

    //             window.setTimeout(function(){

    //                 fadeText(WORDS[i]);

    //             }, i*4000);
                
    //         });
    //     };

    // window.setInterval(function(){
    //     loopFadeText();
    // }, WORDS.length * 4000)
    
    // loopFadeText();




});

</script>
{% endblock %}

{% block base_container %}
<div id="fullpage">

    <div class="section pr">
        <!-- <div class="sprite-car"></div> -->
        <div class="container pr-50 pl-60 pt-30 co-ffffff text-center">
            <div style="padding-right: 350px;">
                <img src="{{MEDIA_URL}}img/home/cloud.png">
            </div>
            <div class="pt-10">
                <span class="f25">全球最大汽车服务平台</span>
            </div>
            <div>
                <span class="f60 fb">车咖来了</span>
            </div>
            <div class="pt-3">
                <span class="f14">集汽车快修美容服务、互联网线上社交、汽车服务体验店于一身， </span>
            </div>
            <div class="pt-3">
                <span class="f14">将爱车的小咖大咖们聚集起来，感受互联网时代汽车服务带来的便利。</span>
            </div>
            <div class="pt-3">
                <span class="f14">这一切，只为生活更美好！</span>
            </div>

            <div class="pr" style="min-height: 200px;">
                <img class="pa" style="bottom: 0; left: 12%; width: 800px;" src="{{MEDIA_URL}}img/home/land.png">
                <img class="pa" style="bottom: 12%; left: 23%; width: 130px;" src="{{MEDIA_URL}}img/home/land1.png">
                <img class="pa" style="bottom: 12%; left: 41%; width: 180px;" src="{{MEDIA_URL}}img/home/land2.png">
                <img class="pa" style="bottom: 12%; left: 63%; width: 140px;" src="{{MEDIA_URL}}img/home/land2.png">
                <img class="pa" style="bottom: 15%; left: 25%; width: 90px;" src="{{MEDIA_URL}}img/home/car1.png">
                <img class="pa" style="bottom: 15%; left: 44%; width: 125px;" src="{{MEDIA_URL}}img/home/car2.png">
                <img class="pa" style="bottom: 15%; left: 65%; width: 105px;" src="{{MEDIA_URL}}img/home/car3.png">
            </div>
        </div>
    </div>

    <div class="section">
        <!-- <div class="container text-center f25 co-ffffff fade-move">
            <span class="">We are</span>
            <span class="fade-text">pleased to meet you</span>
            <span class="">who</span>
            <span class="fade-text">you are, contact us</span>
            <br>
            <span class="">to</span>
            <span class="fade-text">we can chat</span>
            <span class="">for</span>
            <span class="fade-text">rain and shine</span>
        </div> -->

        <div class="container pr-50 pl-60 pt-50 co-ffffff text-center">
            <div class="pb-20">
                <span class="f25">互联网＋实体店全方位服务，享受汽车大咖体验</span>
            </div>
            <div>
                <span class="f14">在线上，将爱车用户聚集在一起，聊车聊生活，提供全面的互联网汽车服务</span>
            </div>
            <div>
                <span class="f14">在线下，车咖汽车快修连锁，让你体验不一样的实体店服务</span>
            </div>

            <div class="pr" style="min-height: 320px;">
                <img class="pa" style="bottom: 15%; left: 24%; width: 550px;" src="{{MEDIA_URL}}img/home/building.png">
                <img class="pa" style="bottom: 0; left: 30%; width: 130px;" src="{{MEDIA_URL}}img/home/phone.png">
                <img class="pa" style="bottom: 13%; left: 44%; width: 35px;" src="{{MEDIA_URL}}img/home/house1.png">
                <img class="pa" style="bottom: 5%; left: 55%; width: 65px;" src="{{MEDIA_URL}}img/home/house1.png">
                <img class="pa" style="bottom: 14%; left: 71%; width: 25px;" src="{{MEDIA_URL}}img/home/house2.png">
                <img class="pa" style="bottom: 5%; left: 63%; width: 55px;" src="{{MEDIA_URL}}img/home/car4.png">
                <img class="pa" style="bottom: 23%; left: 44%; width: 35px;" src="{{MEDIA_URL}}img/home/cloud1.png">
                <img class="pa" style="bottom: 24%; left: 55.5%; width: 55px;" src="{{MEDIA_URL}}img/home/cloud1.png">
                <img class="pa" style="bottom: 22%; left: 71%; width: 25px;" src="{{MEDIA_URL}}img/home/cloud1.png">
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container pr-50 pl-60 pt-50 co-ffffff">
            <div class="row">
                <div class="col-md-6 pr" style="min-height: 250px;">
                    <img class="pa" style="bottom: 20%; right: 10%; width: 230px;" src="{{MEDIA_URL}}img/home/map.png">
                    <img class="pa" style="bottom: 30%; left: 55%; width: 150px;" src="{{MEDIA_URL}}img/home/location.png">
                    <img class="pa" style="bottom: 80%; left: 50%; width: 80px;" src="{{MEDIA_URL}}img/home/cloud2.png">
                    <img class="pa" style="bottom: 30%; left: 71%; width: 100px;" src="{{MEDIA_URL}}img/home/car5.png">
                </div>
                <div class="col-md-6 pt-30">
                    <div>
                        <span class="f25">全国服务联网</span>
                    </div>
                    <div class="pb-20">
                        <span class="f25">美容快修超简单</span>
                    </div>
                    <div>
                        <span class="f14">车咖快修美容连锁，统一化管理和标准化服务的实体旗舰店</span>
                    </div>
                    <div>
                        <span class="f14">24小时守护，终身会员全国享受</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container pr-50 pl-60 pt-50 co-ffffff">
            <div class="row">
                <div class="col-md-6 text-right">
                    <div>
                        <span class="f25">众筹投资模式</span>
                    </div>
                    <div class="pb-20">
                        <span class="f25">降低风险，保障利益</span>
                    </div>
                    <div class="pt-10">
                        <span class="f14">前所未有的投资形式</span>
                    </div>
                    <div>
                        <span class="f14">车咖采用众筹模式，分摊风险的同时最大化提升收益</span>
                    </div>
                    <div class="pt-15">
                        <span class="f14">一次投资，终身收益</span>
                    </div>
                    <div>
                        <span class="f14">您将成为车咖的终身会员，享受免费汽车服务</span>
                    </div>
                </div>
                <div class="col-md-6 pr" style="min-height: 250px;">
                    <img class="pa" style="top: -6%; left: 10%; width: 250px;" src="{{MEDIA_URL}}img/home/cloud3.png">
                    <img class="pa" style="top: 51%; left: 30%; width: 150px;" src="{{MEDIA_URL}}img/home/car6.png">
                    <img class="pa" style="top: 35%; left: 40%; width: 40px;" src="{{MEDIA_URL}}img/home/hat.png">
                    <img class="pa" style="top: 6%; left: 13%; width: 180px;" src="{{MEDIA_URL}}img/home/circle.png">
                    <img class="pa" style="top: 27%; left: 10%; width: 140px;" src="{{MEDIA_URL}}img/home/money.png">
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container pr-50 pl-60 pt-50 co-ffffff text-center">
            <div class="pb-20">
                <span class="f25">基于互联网的汽车服务O2O，颠覆传统业态</span>
            </div>
            <div>
                <span class="f14">全新商业模式，将移动互联网与传统汽车服务相结合</span>
            </div>
            <div>
                <span class="f14">让用户紧密联系起来，提供更具价值的汽车后服务</span>
            </div>

            <div class="pr" style="min-height: 350px;">
                
                <div class="pa blue-line1"></div>
                <div class="pa blue-line2"></div>
                <div class="pa blue-line3"></div>
                <div class="pa blue-line4"></div>
                <div class="pa blue-line5"></div>

                <div class="pa" style="top: 40%; left: 46%; background-color: #406EBB; width: 115px; height: 115px; border-radius: 50%;">
                    <img class="pa" style="bottom: 32%; right: 16%; width: 70px;" src="{{MEDIA_URL}}img/home/logo.png">
                </div>
                <div class="pa blue-circle" style="top: 55%; left: 59%;">
                    <img class="pa" style="bottom: 28%; right: 18%; width: 40px;" src="{{MEDIA_URL}}img/home/pic1.png">
                </div>
                <div class="pa blue-circle" style="top: 15%; left: 52%;">
                    <img class="pa" style="bottom: 20%; right: 18%; width: 40px;" src="{{MEDIA_URL}}img/home/pic2.png">
                </div>
                <div class="pa blue-circle" style="top: 17%; left: 35%;">
                    <img class="pa" style="bottom: 20%; right: 18%; width: 40px;" src="{{MEDIA_URL}}img/home/pic3.png">
                </div>
                <div class="pa blue-circle" style="top: 72%; left: 36%;">
                    <img class="pa" style="bottom: 20%; right: 18%; width: 40px;" src="{{MEDIA_URL}}img/home/pic4.png">
                </div>
                <div class="pa blue-circle" style="top: 82%; left: 52%;">
                    <img class="pa" style="bottom: 25%; right: 18%; width: 40px;" src="{{MEDIA_URL}}img/home/pic5.png">
                </div>
            </div>
        </div>
    </div>

</div>
<div style="min-height: 300px;">11111</div>
{% endblock %}

{% block footer %}{% endblock %}