{% extends "pc/base/base.html" %}

{% block title_all %}车咖{% endblock %}
{% block base_css %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/fullpage/jquery.fullPage.css" />
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/animate/animate.min.css" />
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/site/index.css?v={{MEDIA_VERSION}}" />

{% endblock %}

{% block base_js %}
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery/jquery.fullPage.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery/jquery.easing.1.3.min.js"></script>

<script type="text/javascript">
$(document).ready(function(){

    var pageTransform = function(pageIndex){
        
        switch(pageIndex){

            case 1:
                
                $('.slogan').removeClass('tada');
                $('.phone').css({'right': 20, 'opacity': 0.01});

                window.setTimeout(function(){
                    $('.phone').animate({'right': 90, 'opacity': 1}, 900, 'easeOutCubic');
                }, 200);

                window.setTimeout(function(){
                    $('.slogan').addClass('tada');
                }, 600);

                break;

            case 2:
                
                break;

            case 3:
                $('.step-1').addClass('none').removeClass('fadeInLeft');
                $('.step-2').addClass('none').removeClass('fadeInRight');
                $('.step-3').addClass('none').removeClass('fadeInDown');

                window.setTimeout(function(){
                    $('.step-1').removeClass('none').addClass('fadeInLeft');
                }, 100);
                window.setTimeout(function(){
                    $('.step-2').removeClass('none').addClass('fadeInRight');
                }, 900);
                window.setTimeout(function(){
                    $('.step-3').removeClass('none').addClass('fadeInDown');
                }, 1700);
                break;
        }
        
    };

    $('#fullpage').fullpage({
        scrollingSpeed: 700,
        easing: 'easeOutExpo',
        navigation: true,
        anchors: ['homepage', 'service', 'use', 'q&a'],
        onLeave: function(index, nextIndex, direction){
            $('.navbar-right>li').removeClass('active');
            $('.navbar-right>li').eq(nextIndex-1).addClass('active');

            pageTransform(nextIndex);
        }
    });

    $('.weixin')
    .bind('mouseenter', function(){
        $('.qrcode').stop(true, true).fadeIn();
    })
    .bind('mouseleave', function(){
        $('.qrcode').stop(true, true).fadeOut();
    });

    pageTransform(1);
});

</script>
{% endblock %}

{% block base_container %}
<div id="fullpage">

    <div class="section bgc-f23a1a" data-anchor="homepage" >
        <div class="container pr" style="padding-top: 6%">
            <div class="col-md-6 pl-75">
                <div class="co5 f45">专属于年轻人的</div>
                <div class="co5 f80">洗车平台</div>
                <div class="co5 f15">汇聚你身边的洗车行，为你提供最优惠、最便捷、最时尚的洗车服务</div>
                <div class="" style="padding-top: 10%">
                    <img src="{{MEDIA_URL}}img/homepage/qrcode.png" />
                </div>
                <div  style="padding-top: 3%">
                    <img class="slogan animated tada" src="{{MEDIA_URL}}img/homepage/slogan.png" />
                </div>
            </div>
            <!-- <div class="col-md-6 text-right pr-75 pr"> -->
            <img class="pa car" style=" right: 300px; bottom: 0;" src="{{MEDIA_URL}}img/homepage/car.png">
            <img class="pa w250 phone" style="right: 20px; bottom: -27px; opacity: 0.01;" src="{{MEDIA_URL}}img/homepage/phone.png">
            
            <!-- </div> -->
        </div>
    </div>

    <div class="section bgc-ffffff" data-anchor="service">
        <div class="container" style="padding-top: 5%">
            <div class="col-md-12 pl-30 pr-30 pr">
                <img class="w" src="{{MEDIA_URL}}img/homepage/cars.png">

                <img class="pa w140 float1" style="left: 20%; top: 120px;" src="{{MEDIA_URL}}img/homepage/drop.png">
                <span class="pa co5 f40 float2" style="left: 23%; top: 160px;">便捷</span>

                <img class="pa w140 float3" style="left: 48%; top: 60px;" src="{{MEDIA_URL}}img/homepage/drop.png">
                <span class="pa co5 f40 float4" style="left: 51%; top: 100px;">省钱</span>

                <img class="pa w140 float5" style="left: 75%; top: 110px;" src="{{MEDIA_URL}}img/homepage/drop.png">
                <span class="pa co5 f40 float6" style="left: 78%; top: 150px;">时尚</span>
            </div>
            <div class="col-md-12 pt-20 co1">
                <div class="col-md-4 text-right pr-0 pl-0">
                    <div class="pr-35">汇聚你身边的洗车网点</div>
                    <div>无论出行还是在家，让你洗车更便捷</div>
                </div>
                <div class="col-md-4 text-center pl-30">
                    <div>最心动的折扣和优惠活动</div>
                    <div>随时随地，让你下车更省钱</div>
                </div>
                <div class="col-md-4 pl-5">
                    <div class="pl-55">支持多种在线付款</div>
                    <div>告别传统付款方式，让你支付更时尚</div>
                </div>
            </div>
        </div>
    </div>

    <div class="section bgc-f8f8f8" data-anchor="use">
        <div class="container" style="padding-top: 4%">
            <div class="col-md-12 text-center co1 f30">那么，如何使用呢？</div>
            <div class="col-md-12" style="padding-top: 4%">
                <div class="col-md-4 pr text-right pr-30 step-1 animated none">
                    <img src="{{MEDIA_URL}}img/homepage/use-step-1.png">
                    <img class="pa" style="left: 25px; bottom: 50px;" src="{{MEDIA_URL}}img/homepage/01.png">
                    <span class="pa co15 f37" style="left: 25px; bottom: 0px;">选择</span>
                </div>
                <div class="col-md-4 text-right pt-40 pr-35 step-2 animated none">
                    <img src="{{MEDIA_URL}}img/homepage/use-step-2.png">
                    <img class="pa" style="left: 45px; bottom: 50px;" src="{{MEDIA_URL}}img/homepage/02.png">
                    <span class="pa co15 f37" style="left: 50px; bottom: 0px;">购买</span>
                </div>
                <div class="col-md-4 text-right pt-40 pr-0 step-3 animated none">
                    <img src="{{MEDIA_URL}}img/homepage/use-step-3.png">
                    <img class="pa" style="left: 60px; bottom: 50px;" src="{{MEDIA_URL}}img/homepage/03.png">
                    <span class="pa co15 f37" style="left: 65px; bottom: 0px;">消费</span>
                </div>
            </div>
        </div>
    </div>

    <div class="section bgc-ffffff pr" data-anchor="q&a">
        <div class="container" style="padding-top: 5%; padding-bottom: 10%;">
            <div class="col-md-12 f30 co1 text-center">常见问题</div>
            <div class="col-md-12 co1 f13 pb-30">
                <div class="col-md-6 pr-50">
                    <p class="pt-2">
                        <div>Q：如何注册成为车咖会员？</div>
                        <div>A：车咖目前通过微信公众号来提供服务，关注车咖微信服务号后，通过公众号菜单即可访问，无须额外注册。</div>
                    </p>
                    <p class="pt-2">
                        <div>Q：如何使用车咖服务？</div>
                        <div>A：点击微信服务号菜单”立即洗车”，选择你附近或喜欢的洗车行，按照相应的洗车价格成功支付后获得洗车码。</div>
                    </p>
                    <p class="pt-2">
                        <div>Q：如何查询附近车咖合作网点？</div>
                        <div>A：点击菜单”立即洗车”，即可查看您附近的车咖合作网点。</div>
                    </p>
                    <p class="pt-2">
                        <div>Q：如何使用车咖码到店消费？</div>
                        <div>A：点击菜单”我的洗车码 -> 服务中的洗车码”，将获取到的洗车码告知门店服务人员即可。</div>
                    </p>
                    <p class="pt-2">
                        <div>Q：如何充值？</div>
                        <div>A：点击菜单”更多 -> 充值”，选择所需的充值金额后支付即可。</div>
                    </p>
                </div>
                <div class="col-md-6 pl-50 pr-0">
                    <p class="pt-2">
                        <div>Q：如何查看我的洗车码？</div>
                        <div>A：点击菜单”我的洗车码”，即可查看到您服务中以及结束的洗车码。</div>
                    </p>
                    <p class="pt-2">
                        <div>Q：如何查看我的消费记录？</div>
                        <div>A：点击菜单”账户 -> 消费记录”，即可查看您的消费记录。</div>
                    </p>
                    <p class="pt-2">
                        <div>Q：什么是优惠券？</div>
                        <div>A：车咖会员专属优惠券，可以用于抵用洗车费用</div>
                    </p>
                    <p class="pt-2">
                        <div>Q：如何使用优惠券？</div>
                        <div>A：购买洗车码付款时，使用优惠券可以抵用相应费用。</div>
                    </p>
                    <p class="pt-2">
                        <div>Q：如何获得优惠券？</div>
                        <div>A：车咖会不定期举办活动，参加活动获得车咖奖励的优惠券，敬请留意。</div>
                    </p>

                    <p class="pt-2">
                        <div>Q：哪些城市可以使用车咖服务？有多少家合作商户？</div>
                        <div>A：车咖即将开通成都、重庆、武汉3个城市，与300余家的洗车网点达成合作。</div>
                    </p>
                </div>
            </div>
        </div>
        <div class="bgc-f23a1a h180 pa w" style="left: 0;bottom: 0;">
            <div class="container pt-55 pb-30">
                <div class="col-md-4 pr co5 pt-15">
                    <img class="w50 pa" style="left: 40px; top: 5px;" src="{{MEDIA_URL}}img/logo_white_1.png">
                    <div class="f25 pl-75">车咖</div>
                    <div class="f12 pl-25 pt-10">Copyright &copy; {% if YEAR == "2014" %}{{YEAR}}{% else %}2014 - {{YEAR}}{% endif %} cekaa.com. All Rights Reserved.</div>
                </div>
                <div class="col-md-4 pt-0 pl-130 f14">
                    <div class="co5 pt-10">
                        <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=390973848&amp;site=qq&amp;menu=yes" target="_blank" rel="nofollow" class="white-white">
                            <span class="fa fa-qq pr-3"></span>390973848
                        </a>
                    </div>
                    <div class="co5 pt-10">hz@cekaa.com</div>
                    <div class="co5 pt-10">成都市高新区天府软件园G区</div>
                </div>
                <div class="col-md-4 pr pt-50 pl-100">
                    <a class="weixin" href="#"><img src="{{MEDIA_URL}}img/homepage/weixin.png"></a>
                    <a class="weibo" href="http://www.weibo.com/cheka" target="_blank"><img class="pl-25" src="{{MEDIA_URL}}img/homepage/weibo.png"></a>
                    <img class="pa none qrcode" style="top: -52px; left: 80px; width: 90px;" src="{{MEDIA_URL}}img/homepage/qrcode_arrow.png">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}{% endblock %}