{% extends "pc/base/base_home.html" %}

{% block title_all %}车咖{% endblock %}

{% block home_css %}
<style type="text/css">
.navbar-fixed-top{
    background-color: #F38349;
}
.fade-text{
    overflow: hidden;
    vertical-align: top;
    height: 40px;
    font-weight: bold;
    display: inline-block;
}

.team-item{
    margin-bottom: 50px;
    min-height: 346px;
    -webkit-perspective: 1000px;
       -moz-perspective: 1000px;
        -ms-perspective: 1000px;
            perspective: 1000px;
}

.team-item:hover .card{
    -webkit-transform: rotateY(180deg);
       -moz-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
            transform: rotateY(180deg);
    z-index: 1
}

.team-item:hover .person-desc{
    -webkit-transform: rotateY(0deg);
       -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
            transform: rotateY(0deg);
    z-index: 2
}

.card{
    -webkit-transition: all 0.6s;
       -moz-transition: all 0.6s;
        -ms-transition: all 0.6s;
            transition: all 0.6s;
    -webkit-transform: rotateY(0deg);
       -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
            backface-visibility: hidden;
    cursor: pointer;
    opacity: 1;
    z-index: 2;
    margin-left: 25px;
    margin-right: 30px;
    position: absolute;
    left: 0;
    top: 0;
}

.person-desc{
    position: absolute;
    left: 0;
    top: 0;
    margin-right: 35px;
    margin-left: 25px;
    width: 300px;
    /*margin-bottom: 50px;*/
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 25px;
    height: 100%;
    opacity: 1;
    z-index: 1;
    background-color: #F38349;
    color: #ffffff;
    cursor: pointer;
    line-height: 22px;
    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transition: all 0.6s;
       -moz-transition: all 0.6s;
        -ms-transition: all 0.6s;
            transition: all 0.6s;
    -webkit-transform: rotateY(-180deg);
       -moz-transform: rotateY(-180deg);
        -ms-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
}

.address{
    z-index: 1;
    left: 20%;
    top: 20%;
    color: #fff;
    border: 1px solid #CC947A;
    box-shadow: 2px 2px 4px #999;
    background-color: #F38349;
    padding: 20px;
    border-radius: 4px;
}
</style>
{% endblock %}

{% block home_js %}
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery/jquery.easing.1.3.min.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=o4O12xsCGirt60xLVt1GLTI6"></script>
<script type="text/javascript">
$(document).ready(function(){
    
    // 文字效果切换
    var WORDS = [
            // ['inventors', 'use of the data', 'rebuilding the relationship', 'man to the vehicle'],
            // ['engineers', 'use tech power', 'improve traffic flow', 'thousands of users'],
            // ['supporters of the Open', 'share data', 'allow as many', 'create their own services'],
            // ['pleased to meet you', 'you are, contact us', 'we can chat', 'rain and shine'],
            // ['human beings', 'use transport', 'get to work', 'early'],
            // ['geeks', 'devour books of sci -fi', 'imagine the future', 'mobility']

            ['是中国最好的', '服务平台', '为你提供最好', '汽车后服务'],
            ['有中国最好的', '服务实体连锁店', '让你体验不一样', '实体店']
        ],
        getWordWidth = function(word){
            var temp = $('<span style="font-weight: bold; visibility: hidden;">'+word+'</span>').appendTo('.fade-move'),
                width = temp.width();

            temp.remove();
            return width;
        },
        fadeText = function(words){
            $.each(words, function(i){

                $('.fade-text').eq(i)
                .animate({
                    'opacity': 0,
                    'width': getWordWidth(words[i])
                }, 500, 'easeOutExpo', function(){
                    
                    $(this).text(words[i]);
                    $(this).animate({
                        'opacity': 1
                    }, 500, 'easeInExpo');

                });

            });
        },
        loopFadeText = function(){
            $.each(WORDS, function(i){

                window.setTimeout(function(){

                    fadeText(WORDS[i]);

                }, i*5000);
                
            });
        };

    window.setInterval(function(){
        loopFadeText();
    }, WORDS.length * 5000);
    
    loopFadeText();


    // 名片翻转 
    // $('.card').bind('click', function(){
    //     var me = $(this);
    //     me.css({
    //         '-webkit-transform': 'rotateY(90deg)', 
    //         '   -moz-transform': 'rotateY(90deg)', 
    //         '    -ms-transform': 'rotateY(90deg)', 
    //         '        transform': 'rotateY(90deg)', 
    //         'opacity': 0
    //     });
    //     window.setTimeout(function(){
    //         me.next().css({
    //             '-webkit-transform': 'rotateY(360deg)', 
    //             '   -moz-transform': 'rotateY(360deg)', 
    //             '    -ms-transform': 'rotateY(360deg)', 
    //             '        transform': 'rotateY(360deg)', 
    //             'opacity': 1
    //         });
    //     }, 200);
    // });
    
    // $('.person-desc').bind('click', function(){
    //     var me = $(this);
    //     me.css({
    //         '-webkit-transform': 'rotateY(270deg)', 
    //         '   -moz-transform': 'rotateY(270deg)', 
    //         '    -ms-transform': 'rotateY(270deg)', 
    //         '        transform': 'rotateY(270deg)', 
    //         'opacity': 0
    //     });
    //     window.setTimeout(function(){
    //         me.prev().css({
    //             '-webkit-transform': 'rotateY(0deg)', 
    //             '   -moz-transform': 'rotateY(0deg)', 
    //             '    -ms-transform': 'rotateY(0deg)', 
    //             '        transform': 'rotateY(0deg)', 
    //             'opacity': 1
    //         });
    //     }, 200);
    // });


    // 地图
    $('#map').css({'height': $(window).height() - 80});
    var map = new BMap.Map("map"),
        point = new BMap.Point(104.062668, 30.544719);
    // map.centerAndZoom("成都", 13);
    map.centerAndZoom(point, 14);
    map.addControl(
        new BMap.NavigationControl()
    );
    // map.setMapStyle({style: 'grayscale'}); 
    // map.enableScrollWheelZoom(true);
    var marker = new BMap.Marker(point);
    map.addOverlay(marker);
    marker.setAnimation(BMAP_ANIMATION_BOUNCE);
    

    // 全屏显示图片
    var fullImage = function(imageUrl){

        $('#full_image_modal').remove();

        var html = [
                '<div class="modal fade text-center" id="full_image_modal">',
                    '<image class="animated zoomIn" style="width: 90%;" src="'+imageUrl+'" />',
                    '<span class="pf fa fa-times-circle-o" style="right: 30px; top: 15px; color: #ffffff; font-size: 40px; cursor: pointer;"></span>',
                '</div>'
            ].join('');

        $('body').append(html);

        // 关闭图片事件
        $('#full_image_modal')
        .bind('click', function(){
            $('#full_image_modal').modal('hide');
        })

        $('#full_image_modal').modal('show');
    };
    $('.full-image').bind('click', function(e){
        e.preventDefault();

        fullImage($(this).data('url'));
    });
});
</script>
{% endblock %}

{% block topbar %}{% endblock %}

{% block base_container %}
<div class="container-fluid bgc-F38349" style="height: 400px; padding-top: 180px;">
    <div class="container text-center f25 co-ffffff fade-move">
        <!-- <span class="">We are</span>
        <span class="fade-text">pleased to meet you</span>
        <span class="">who</span>
        <span class="fade-text">you are, contact us</span>
        <br>
        <span class="">to</span>
        <span class="fade-text">we can chat</span>
        <span class="">for</span>
        <span class="fade-text">rain and shine</span> -->

        <span class="">我们</span>
        <span class="fade-text">是中国最好的</span>
        <span class="">汽车后</span>
        <span class="fade-text">服务平台</span>
        <br>
        <span class="">致力于</span>
        <span class="fade-text">为你提供最好</span>
        <span class="">的</span>
        <span class="fade-text">汽车后服务</span>
    </div>
</div>
<div class="container pr-50 pl-60 pt-50">
    <div class="row">
        <div class="col-md-4 f15 pl-20 pr-30 line-height-25">
            <p class="f22 pb-20">车咖是什么？</p>
            <p>中国首家互联网运营模式的汽车快修美容连锁线上社交平台。</p>
            <p>两大核心板块：线上社群和线下五星级汽车快修美容连锁；覆盖全国50个城市，近千家汽车快修美容连锁的服务网络。</p>
            <p>车咖是爱车，玩车小咖大咖们的聚集社群。</p>
            <div class="pt-10 f14">
                <a class="a-orange pr-15 full-image" data-url="{{MEDIA_URL}}img/about/yyzz.jpg" href="#"><i class="fa fa-paperclip pr-3"></i>营业执照</a>
                <a class="a-orange pr-15 full-image" data-url="{{MEDIA_URL}}img/about/swdjz.jpg" href="#"><i class="fa fa-paperclip pr-3"></i>税务登记证</a>
                <a class="a-orange full-image" data-url="{{MEDIA_URL}}img/about/zzjgdmz.jpg" href="#"><i class="fa fa-paperclip pr-3"></i>组织机构代码证</a>
            </div>
        </div>
        <div class="col-md-8 pl-20 pr-30 line-height-25 f14">
            <p>我们是一家与众不同的汽车快修美容连锁；你的爱车可以享受到基础保养的全免费，甚至是终身免费，你无法想象互联网的免费商业模式真正融入到实体商业领域将会催生怎样神奇的力量。</p>
            <p>这就是我们，车咖，汽车快修美容行业收费模式的终结者。</p>
            <p>车咖，以行业领导者为目标，致力打造汽车行业的五星级快修美容连锁；届时你会像当初惊叹苹果公司给手机行业带来的冲击一样，惊叹车咖给你带来的非比寻常的汽车保养体验。这一切并不遥远，这一切将要发生，集万千宠爱于一身的车咖，经大师之手精心打磨，即将重磅出场。由此，汽车快修美容行业将被刷新；汽车快修美容行业历史将被改写。</p>
            <p>只有你想不到，没有我们做不到的。</p>
            <p>“车咖”这家让人无比惊叹的企业，即将冲击你的五官，你将见证这个世纪，又一个商业帝国的崛起。</p>
        </div>
    </div>
</div>
<div class="container pr-50 pl-50 pt-50 pb-0">
    <ul class="list-inline row">
        <li class="col-md-4 pr team-item">
            <div class="card pr">
                <div class="w300">
                    <img class="w" src="{{MEDIA_URL}}img/about/person1.png">
                </div>
                <div class="bgc-ececec f17 pl-15 pt-20 w300">
                    杨子正
                </div>
                <div class="bgc-ececec f15 pl-15 pt-20 pb-20 w300">
                    车咖 总裁
                </div>
            </div>
            <div class="person-desc">
                <p>
                连续创业者，擅长商业模式设计。
                </p>
                <p>
                为多家国内知名企业搭建商业生态系统，拥有13年以上过百场的公众演讲经验。
                </p>
                <p>
                曾就职于韩国企业，世界500强，在国内多家知名企业担任副总裁一职。
                </p>
                <p>
                06年以后开始进入互联网行业创业，第一年便让创业公司成为区域市场的领导者，服务的客户多数为上市公司，国内知名企业。
                </p>
                <p>
                    移动互联网时代的到来，让他感受到了互联网行业对实体行业造成的巨大冲击，势必将重塑汽车前后市场的商业生态系统。
                </p>
            </div>
        </li>
        <li class="col-md-4 pr team-item">
            <div class="card">
                <div class="w300">
                    <img class="w" src="{{MEDIA_URL}}img/about/person2.jpg">
                </div>
                <div class="bgc-ececec f17 pl-15 pt-20 w300">
                    罗春华
                </div>
                <div class="bgc-ececec f15 pl-15 pt-20 pb-20 w300">
                    人力资源总监
                </div>
            </div>
            <div class="person-desc">
                <p>
                连续创业者，擅长商业模式设计。
                </p>
                <p>
                为多家国内知名企业搭建商业生态系统，拥有13年以上过百场的公众演讲经验。
                </p>
                <p>
                曾就职于韩国企业，世界500强，在国内多家知名企业担任副总裁一职。
                </p>
                <p>
                06年以后开始进入互联网行业创业，第一年便让创业公司成为区域市场的领导者，服务的客户多数为上市公司，国内知名企业。
                </p>
            </div>
        </li>
        <li class="col-md-4 pr team-item">
            <div class="card">
                <div class="w300">
                    <img class="w" src="{{MEDIA_URL}}img/about/person3.jpg">
                </div>
                <div class="bgc-ececec f17 pl-15 pt-20 w300">
                    高超
                </div>
                <div class="bgc-ececec f15 pl-15 pt-20 pb-20 w300">
                    国内法律顾问
                </div>
            </div>
            <div class="person-desc">
                <p>
                连续创业者，擅长商业模式设计。
                </p>
                <p>
                为多家国内知名企业搭建商业生态系统，拥有13年以上过百场的公众演讲经验。
                </p>
                <p>
                曾就职于韩国企业，世界500强，在国内多家知名企业担任副总裁一职。
                </p>
                <p>
                06年以后开始进入互联网行业创业，第一年便让创业公司成为区域市场的领导者，服务的客户多数为上市公司，国内知名企业。
                </p>
            </div>
        </li>
        <li class="col-md-4 pr team-item">
            <div class="card">
                <div class="w300">
                    <img class="w" src="{{MEDIA_URL}}img/about/person4.jpg">
                </div>
                <div class="bgc-ececec f17 pl-15 pt-20 w300">
                    陆麓
                </div>
                <div class="bgc-ececec f15 pl-15 pt-20 pb-20 w300">
                    上市筹备组组长
                </div>
            </div>
            <div class="person-desc">
                <p>
                连续创业者，擅长商业模式设计。
                </p>
                <p>
                为多家国内知名企业搭建商业生态系统，拥有13年以上过百场的公众演讲经验。
                </p>
                <p>
                曾就职于韩国企业，世界500强，在国内多家知名企业担任副总裁一职。
                </p>
                <p>
                06年以后开始进入互联网行业创业，第一年便让创业公司成为区域市场的领导者，服务的客户多数为上市公司，国内知名企业。
                </p>
            </div>
        </li>
        <li class="col-md-4 pr team-item">
            <div class="card">
                <div class="w300">
                    <img class="w" src="{{MEDIA_URL}}img/about/person5.jpg">
                </div>
                <div class="bgc-ececec f17 pl-15 pt-20 w300">
                    余哲
                </div>
                <div class="bgc-ececec f15 pl-15 pt-20 pb-20 w300">
                    海外法律顾问
                </div>
            </div>
            <div class="person-desc">
                <p>
                连续创业者，擅长商业模式设计。
                </p>
                <p>
                为多家国内知名企业搭建商业生态系统，拥有13年以上过百场的公众演讲经验。
                </p>
                <p>
                曾就职于韩国企业，世界500强，在国内多家知名企业担任副总裁一职。
                </p>
                <p>
                06年以后开始进入互联网行业创业，第一年便让创业公司成为区域市场的领导者，服务的客户多数为上市公司，国内知名企业。
                </p>
            </div>
        </li>
        <li class="col-md-4 pr team-item">
            <div class="card">
                <div class="w300">
                    <img class="w" src="{{MEDIA_URL}}img/about/person6.jpg">
                </div>
                <div class="bgc-ececec f17 pl-15 pt-20 w300">
                    王卓
                </div>
                <div class="bgc-ececec f15 pl-15 pt-20 pb-20 w300">
                    投行顾问
                </div>
            </div>
            <div class="person-desc">
                <p>
                连续创业者，擅长商业模式设计。
                </p>
                <p>
                为多家国内知名企业搭建商业生态系统，拥有13年以上过百场的公众演讲经验。
                </p>
                <p>
                曾就职于韩国企业，世界500强，在国内多家知名企业担任副总裁一职。
                </p>
                <p>
                06年以后开始进入互联网行业创业，第一年便让创业公司成为区域市场的领导者，服务的客户多数为上市公司，国内知名企业。
                </p>
            </div>
        </li>
    </ul>
    
</div>

<div class="container-fluid pl-0 pr-0 pr">
    <div id="map"></div>
    <div class="pa address">
        <div class="f18">公司地址</div>
        <div class="f15 pt-10">成都市益州大道中段1800号移动互联创业大厦</div>
    </div>
</div>
{% endblock %}

{% block nav %}{% endblock %}