{% extends "pc/base/base_home.html" %}

{% block title_all %}车咖{% endblock %}

{% block home_css %}
<style type="text/css">
.navbar-fixed-top{
    background-color: #F38349;
}
.fade-text{
    overflow: hidden;
    vertical-align: top;
    height: 40px;
    font-weight: bold;
    display: inline-block;
}

.team-item{
    margin-bottom: 50px;
    -webkit-perspective: 1000px;
       -moz-perspective: 1000px;
        -ms-perspective: 1000px;
            perspective: 1000px;
}

/*.team-item:hover .card{
    transform: rotateY(90deg);
    opacity: 0;
}

.team-item:hover .person-desc{
    transform: rotateY(360deg);
    opacity: 1;
}*/

.card{
    -webkit-transition: all 0.4s;
       -moz-transition: all 0.4s;
        -ms-transition: all 0.4s;
            transition: all 0.4s;
    -webkit-transform: rotateY(0deg);
       -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
            transform: rotateY(0deg);
    cursor: pointer;
    opacity: 1;
    padding-left: 25px;
    padding-right: 30px;
}

.person-desc{
    position: absolute;
    left: 0;
    top: 0;
    margin-right: 35px;
    margin-left: 25px;
    /*margin-bottom: 50px;*/
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 25px;
    height: 100%;
    opacity: 0;
    background-color: #F38349;
    color: #ffffff;
    cursor: pointer;
    line-height: 22px;
    -webkit-transition: all 0.4s;
       -moz-transition: all 0.4s;
        -ms-transition: all 0.4s;
            transition: all 0.4s;
    -webkit-transform: rotateY(270deg);
       -moz-transform: rotateY(270deg);
        -ms-transform: rotateY(270deg);
            transform: rotateY(270deg);
}

.address{
    z-index: 1;
    left: 20%;
    top: 20%;
    color: #fff;
    border: 1px solid #CC947A;
    box-shadow: 2px 2px 4px #999;
    background-color: #F38349;
    padding: 20px;
    border-radius: 4px;
}
</style>
{% endblock %}

{% block home_js %}
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery/jquery.easing.1.3.min.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=o4O12xsCGirt60xLVt1GLTI6"></script>
<script type="text/javascript">
$(document).ready(function(){
    
    // 文字效果切换
    var WORDS = [
            // ['inventors', 'use of the data', 'rebuilding the relationship', 'man to the vehicle'],
            // ['engineers', 'use tech power', 'improve traffic flow', 'thousands of users'],
            // ['supporters of the Open', 'share data', 'allow as many', 'create their own services'],
            // ['pleased to meet you', 'you are, contact us', 'we can chat', 'rain and shine'],
            // ['human beings', 'use transport', 'get to work', 'early'],
            // ['geeks', 'devour books of sci -fi', 'imagine the future', 'mobility']

            ['是中国最好的', '服务平台', '为你提供最好', '汽车后服务'],
            ['有中国最好的', '服务实体连锁店', '让你体验不一样', '实体店']
        ],
        getWordWidth = function(word){
            var temp = $('<span style="font-weight: bold; visibility: hidden;">'+word+'</span>').appendTo('.fade-move'),
                width = temp.width();

            temp.remove();
            return width;
        },
        fadeText = function(words){
            $.each(words, function(i){

                $('.fade-text').eq(i)
                .animate({
                    'opacity': 0,
                    'width': getWordWidth(words[i])
                }, 500, 'easeOutExpo', function(){
                    
                    $(this).text(words[i]);
                    $(this).animate({
                        'opacity': 1
                    }, 500, 'easeInExpo');

                });

            });
        },
        loopFadeText = function(){
            $.each(WORDS, function(i){

                window.setTimeout(function(){

                    fadeText(WORDS[i]);

                }, i*5000);
                
            });
        };

    window.setInterval(function(){
        loopFadeText();
    }, WORDS.length * 5000);
    
    loopFadeText();


    // 名片翻转 
    $('.card').bind('click', function(){
        var me = $(this);
        me.css({
            '-webkit-transform': 'rotateY(90deg)', 
            '   -moz-transform': 'rotateY(90deg)', 
            '    -ms-transform': 'rotateY(90deg)', 
            '        transform': 'rotateY(90deg)', 
            'opacity': 0
        });
        window.setTimeout(function(){
            me.next().css({
                '-webkit-transform': 'rotateY(360deg)', 
                '   -moz-transform': 'rotateY(360deg)', 
                '    -ms-transform': 'rotateY(360deg)', 
                '        transform': 'rotateY(360deg)', 
                'opacity': 1
            });
        }, 180);
    });
    
    $('.person-desc').bind('mouseleave', function(){
        var me = $(this);
        me.css({
            '-webkit-transform': 'rotateY(270deg)', 
            '   -moz-transform': 'rotateY(270deg)', 
            '    -ms-transform': 'rotateY(270deg)', 
            '        transform': 'rotateY(270deg)', 
            'opacity': 0
        });
        window.setTimeout(function(){
            me.prev().css({
                '-webkit-transform': 'rotateY(0deg)', 
                '   -moz-transform': 'rotateY(0deg)', 
                '    -ms-transform': 'rotateY(0deg)', 
                '        transform': 'rotateY(0deg)', 
                'opacity': 1
            });
        }, 180);
    });


    // 地图
    $('#map').css({'height': $(window).height() - 80});
    var map = new BMap.Map("map"),
        point = new BMap.Point(104.062668, 30.544719);
    // map.centerAndZoom("成都", 13);
    map.centerAndZoom(point, 14);
    map.addControl(
        new BMap.NavigationControl()
    );
    // map.setMapStyle({style: 'grayscale'}); 
    // map.enableScrollWheelZoom(true);
    var marker = new BMap.Marker(point);
    map.addOverlay(marker);
    marker.setAnimation(BMAP_ANIMATION_BOUNCE);
    
});
</script>
{% endblock %}

{% block topbar %}{% endblock %}

{% block base_container %}
<div class="container-fluid bgc-F38349" style="height: 400px; padding-top: 180px;">
    <div class="container text-center f25 co-ffffff fade-move">
        <!-- <span class="">We are</span>
        <span class="fade-text">pleased to meet you</span>
        <span class="">who</span>
        <span class="fade-text">you are, contact us</span>
        <br>
        <span class="">to</span>
        <span class="fade-text">we can chat</span>
        <span class="">for</span>
        <span class="fade-text">rain and shine</span> -->

        <span class="">我们</span>
        <span class="fade-text">是中国最好的</span>
        <span class="">汽车后</span>
        <span class="fade-text">服务平台</span>
        <br>
        <span class="">致力于</span>
        <span class="fade-text">为你提供最好</span>
        <span class="">的</span>
        <span class="fade-text">汽车后服务</span>
    </div>
</div>
<div class="container pr-50 pl-60 pt-50 pb-20">
    <ul class="list-inline row">
        <li class="col-md-4 pr team-item">
            <div class="card">
                <div class="w300">
                    <img class="w" src="{{MEDIA_URL}}img/about/person1.png">
                </div>
                <div class="bgc-ececec f17 pl-15 pt-20 w300">
                    扬子正
                </div>
                <div class="bgc-ececec f15 pl-15 pt-20 pb-20 w300">
                    车咖 总裁
                </div>
            </div>
            <div class="person-desc">
                <p>
                连续创业者，擅长商业模式设计。
                </p>
                <p>
                为多家国内知名企业搭建商业生态系统，拥有13年以上过百场的公众演讲经验。
                </p>
                <p>
                曾就职于韩国企业，世界500强，在国内多家知名企业担任副总裁一职。
                </p>
                <p>
                06年以后开始进入互联网行业创业，第一年便让创业公司成为区域市场的领导者，服务的客户多数为上市公司，国内知名企业。
                </p>
                <p>
                    移动互联网时代的到来，让他感受到了互联网行业对实体行业造成的巨大冲击，势必将重塑汽车前后市场的商业生态系统。
                </p>
            </div>
        </li>
        <li class="col-md-4 pr team-item">
            <div class="card">
                <div class="w300">
                    <img class="w" src="{{MEDIA_URL}}img/about/person2.jpg">
                </div>
                <div class="bgc-ececec f17 pl-15 pt-20 w300">
                    罗春华
                </div>
                <div class="bgc-ececec f15 pl-15 pt-20 pb-20 w300">
                    人力资源总监
                </div>
            </div>
            <div class="person-desc">
                <p>
                连续创业者，擅长商业模式设计。
                </p>
                <p>
                为多家国内知名企业搭建商业生态系统，拥有13年以上过百场的公众演讲经验。
                </p>
                <p>
                曾就职于韩国企业，世界500强，在国内多家知名企业担任副总裁一职。
                </p>
                <p>
                06年以后开始进入互联网行业创业，第一年便让创业公司成为区域市场的领导者，服务的客户多数为上市公司，国内知名企业。
                </p>
            </div>
        </li>
        <li class="col-md-4 pr team-item">
            <div class="card">
                <div class="w300">
                    <img class="w" src="{{MEDIA_URL}}img/about/person3.jpg">
                </div>
                <div class="bgc-ececec f17 pl-15 pt-20 w300">
                    高超
                </div>
                <div class="bgc-ececec f15 pl-15 pt-20 pb-20 w300">
                    国内法律顾问
                </div>
            </div>
            <div class="person-desc">
                <p>
                连续创业者，擅长商业模式设计。
                </p>
                <p>
                为多家国内知名企业搭建商业生态系统，拥有13年以上过百场的公众演讲经验。
                </p>
                <p>
                曾就职于韩国企业，世界500强，在国内多家知名企业担任副总裁一职。
                </p>
                <p>
                06年以后开始进入互联网行业创业，第一年便让创业公司成为区域市场的领导者，服务的客户多数为上市公司，国内知名企业。
                </p>
            </div>
        </li>
        <li class="col-md-4 pr team-item">
            <div class="card">
                <div class="w300">
                    <img class="w" src="{{MEDIA_URL}}img/about/person4.jpg">
                </div>
                <div class="bgc-ececec f17 pl-15 pt-20 w300">
                    陆麓
                </div>
                <div class="bgc-ececec f15 pl-15 pt-20 pb-20 w300">
                    上市筹备组组长
                </div>
            </div>
            <div class="person-desc">
                <p>
                连续创业者，擅长商业模式设计。
                </p>
                <p>
                为多家国内知名企业搭建商业生态系统，拥有13年以上过百场的公众演讲经验。
                </p>
                <p>
                曾就职于韩国企业，世界500强，在国内多家知名企业担任副总裁一职。
                </p>
                <p>
                06年以后开始进入互联网行业创业，第一年便让创业公司成为区域市场的领导者，服务的客户多数为上市公司，国内知名企业。
                </p>
            </div>
        </li>
        <li class="col-md-4 pr team-item">
            <div class="card">
                <div class="w300">
                    <img class="w" src="{{MEDIA_URL}}img/about/person5.jpg">
                </div>
                <div class="bgc-ececec f17 pl-15 pt-20 w300">
                    余哲
                </div>
                <div class="bgc-ececec f15 pl-15 pt-20 pb-20 w300">
                    海外法律顾问
                </div>
            </div>
            <div class="person-desc">
                <p>
                连续创业者，擅长商业模式设计。
                </p>
                <p>
                为多家国内知名企业搭建商业生态系统，拥有13年以上过百场的公众演讲经验。
                </p>
                <p>
                曾就职于韩国企业，世界500强，在国内多家知名企业担任副总裁一职。
                </p>
                <p>
                06年以后开始进入互联网行业创业，第一年便让创业公司成为区域市场的领导者，服务的客户多数为上市公司，国内知名企业。
                </p>
            </div>
        </li>
        <li class="col-md-4 pr team-item">
            <div class="card">
                <div class="w300">
                    <img class="w" src="{{MEDIA_URL}}img/about/person6.jpg">
                </div>
                <div class="bgc-ececec f17 pl-15 pt-20 w300">
                    王卓
                </div>
                <div class="bgc-ececec f15 pl-15 pt-20 pb-20 w300">
                    投行顾问
                </div>
            </div>
            <div class="person-desc">
                <p>
                连续创业者，擅长商业模式设计。
                </p>
                <p>
                为多家国内知名企业搭建商业生态系统，拥有13年以上过百场的公众演讲经验。
                </p>
                <p>
                曾就职于韩国企业，世界500强，在国内多家知名企业担任副总裁一职。
                </p>
                <p>
                06年以后开始进入互联网行业创业，第一年便让创业公司成为区域市场的领导者，服务的客户多数为上市公司，国内知名企业。
                </p>
            </div>
        </li>
    </ul>
    
</div>

<div class="container-fluid pl-0 pr-0 pr">
    <div id="map"></div>
    <div class="pa address">
        <div class="f18">公司地址</div>
        <div class="f15 pt-10">成都市益州大道中段1800号移动互联创业大厦</div>
    </div>
</div>
{% endblock %}

{% block nav %}{% endblock %}